.imgSize{
    float: right;
    border-radius: 10px;
    margin-top: 29px;
    width: 25rem;
}
.title{
    font-size: 29px;
    /* margin: 38px; */
    font-weight: 600;
    font-family: sans-serif;
}
.btnWidth{
    width: 145px;
}